@model IEnumerable<FarmCentralApp.Models.Farmer>

@{
    ViewData["Title"] = "Index";
}

<h1>Farmers</h1>

<p>
    <a asp-action="Register">Add new farmer</a>   <div>

    <a asp-controller="Home" asp-action="Emp">Main menu</a>
</div>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Farmer ID
            </th>
            <th>
               Farmer Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FarmerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FarmerName)
            </td>
            <td>
                <a asp-action="Products" asp-route-id="@item.FarmerId">View Products</a> 
              
            </td>
        </tr>
}
    </tbody>
</table>
