
<body>
    <h2>Main Menu</h2>



    <p2> @Html.ActionLink("View Farmer Data", "Index", "Farmers")<br /></p2>

    @*image taken from : Pintrest
        Author : Vicky Cita
        Link :https://www.pinterest.es/vicky_cita/primicias/ *@

    <img src="~/images/hands.jpeg" />

</body>