@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">FARM CENTRAL</h1>
        <p>STOCK MANAGEMENT</p>
        <p>
            @*image taken from : Pintrest
        Author : Eliane Fidalgo
        Link :https://za.pinterest.com/elianefidalgo/flower-fields/ *@

            <img src="~/images/Farm.jpeg" />



        </p>
       
    </div>
   
   
