<h2>Main Menu</h2>

<p2> @Html.ActionLink("Products", "Index", "Products")<br /></p2>
<p2> @Html.ActionLink("Update password", "Reset", "Farmers")<br /></p2>
@*image taken from : Pintrest
    Author : PNGtree
    Link :https://in.pinterest.com/pin/785596728730120142/ *@
<img src="~/images/flower.jpeg" />
